<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Registered Admins</title>
</head>
<body>

<div class="card">
   <div class="page-header">
                          <div class="page-block">
                              <div class="row align-items-center">
                                  <div class="col-md-8">
                                      <div class="page-header-title">
                                          <h5 class="m-b-10">Registered Admins</h5>
<!--                                          <p class="m-b-0">Welcome to Mega Able</p>-->
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <ul class="breadcrumb-title">
                                          <li class="breadcrumb-item">
                                              <a href="{% url 'homepage' %}"> <i class="fa fa-home"></i> </a>
                                          </li>
                                          <li class="breadcrumb-item"><a href="">Admin</a>
                                          </li><li class="breadcrumb-item"><a href="">View Registered Admins</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>


    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover" style="width:100%;">
                <thead>
                <tr>
<!--                    <th>#</th>-->
                    <th>Image</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Username</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for d in data %}
<!--                    <th scope="row">1</th>-->
                     <td><img src="{{ d.photo.url }}" width="75" height="75"></td>
                    <td>{{ d.names }}</td>
                    <td>{{ d.age }}</td>
                    <td>{{ d.address }}</td>
                    <td>{{ d.email }}</td>
                     <td>{{ d.mobno }}</td>
                    <td>{{ d.username }}</td>

               <td>
                   <form method="post" action="{% url 'editadmin' dataid=d.id %}">
                       {% csrf_token %}
<!--                    <button class="btn btn-warning btn-round waves-effect waves-light" type="submit">Edit</button>-->
                        <button class="btn btn-info btn-round waves-effect waves-light" type="submit">Edit</button>

                </form>
               </td>
               <td>
                   <form method="post" action="{% url 'deleteadmin' dataid=d.id %}">
                       {% csrf_token %}
                    <button class="btn btn-danger btn-round waves-effect waves-light" type="submit">Delete</button>
                   </form>
               </td>
                </tr>
                </tbody>

                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% endblock %}


</body>
</html>



